<launch>
  <!-- No namespace here as we will share this description. 
       Access with slash at the beginning -->
  <param name="robot_description"
    command="$(find xacro)/xacro --inorder '$(find shooter_description)/urdf/shooter.xacro' "/>

  <param name="robot_description_2"
    command="$(find xacro)/xacro --inorder '$(find shooter_description)/urdf/torpedoes.xacro' "/> 

  <!-- BEGIN ROBOT 1-->
  <group ns="robot1">
    <param name="tf_prefix" value="robot1_tf" />
    <!-- include file="$(find shooter_description)/shooter_gazebo/launch/one_robot.launch" >
      <arg name="init_pose" value="-x 0 -y 0 -z 0" />
      <arg name="robot_name" value="robot_1" />
    </include-->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
     args="'-x 0 -y 0 -z 0' -urdf -param /robot_description -model shooter"/>
  </group>

  <!-- BEGIN ROBOT 2-->
  <group ns="robot2">
    <param name="tf_prefix" value="robot2_tf" />
    <!-- include file="$(find shooter_description)/shooter_gazebo/launch/one_robot.launch" >
      <arg name="init_pose" value="-x 0 -y 0 -z 0" />
      <arg name="robot_name" value="robot_2" />
    </include-->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
     args="'-x 0 -y 0 -z 0' -urdf -param /robot_description_2 -model torpedoes"/>
  </group>

</launch>

<!-- MULTIPLE ROBOT SIMULATION ON GAZEBO 
        https://answers.ros.org/question/360480/multi-robot-simulation-on-gazebo/-->
        